<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="row">
        <div class="col-xs-3">
          <h2>user info</h2>
          <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
            <table class="table table-striped">
              <tbody>
              <tr>
              </tr>
              <tr>
                <th>
                <p>name</p>
                <h5 class="profile_name"><%= current_user.name %></h5>
                </th>
              </tr>
              <tr>
                <th>
                <p>introduction</p>
                <h5 class="profile_introduction"><%= current_user.introduction %></h5>
                </th>
              </tr>
              </tbody>
            </table>
            <div class="col text-center">
              <%= link_to edit_user_path(current_user) do %>
                <i class="fas fa-wrench"></i>
            </div>
            <% end %>
        </div>


        <div class="col-xs-3">
          <h2>New book</h2>
          <%= form_for @book do |book| %>
            <% if @book.errors.any? %>
              <%= @book.errors.count %>件のerrorが発生しました
                <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            <% end %>
          <h4>Title</h4>
          <%= book.text_field :title %>

          <h4>Opinion</h4>
          <%= book.text_area :body %>
          <div class="col-text-center">
            <%= book.submit "create book", class: "btn btn-block btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col-lg-9">
      <h1>Books</h1>
      <table class="table table-striped">
        <thead>
        <tr>
          <th colspan="1"></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
        </thead>
        <tbody>
          <% @books.each do |f| %>
            <tr>
              <td>
                <%= attachment_image_tag f.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
              </td>
              <td>
                <%= link_to f.title, book_path(f.id) %>
              </td>
              <td>
                <%= f.body %>
              </td>
              <td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



